.quickSettings {
    min-width: 10rem;
    background-color: @theme_bg_color;
    padding: 0.8rem;
}

.quickSettings .active {
    background-color: @blue2;
    border: 2px solid @blue3;
}

button.dnd { font-size: 1.5rem; background-color: @darkest3; }

.sinkSelector .mainSink { border-radius: 5px 5px 0 0; background-color: @darkest3; }
.sinkSelector button { border-radius: 0; margin-top: 0.2rem; background-color: @darkest4; }
.sinkSelector { border-radius: 1rem; }