.quickSettings {
    min-width: 10rem;
    background-color: @theme_bg_color;
    border-radius: 7px;
    padding: 0.8rem;
}

.quickSettings .active {
    background-color: #81a1c1;
    border: 1px solid #5e81ac;
}

button.dnd { font-size: 1.5rem; background-color: #434c5e; }

.sinkSelector .mainSink { border-radius: 5px 5px 0 0; background-color: #434c5e; }
.sinkSelector button { border-radius: 0; margin-top: 0.2rem; background-color: #4c566a; }
.sinkSelector { border-radius: 1rem; }