.quickSettings {
    min-width: 10rem;
    background-color: @theme_bg_color;
    border-radius: 7px;
    padding: 0.8rem;
}

.quickSettings .active {
    background-color: #81a1c1;
    border: 1px solid #5e81ac;
}

button.dnd { font-size: 1.5rem; }