#bar {
    background: @theme_bg_color;
    font-family: 'Sora';
}

#bar button {
    border-radius: 0;
    padding: 0.2rem 0.5rem;
}

.statusMenu { padding: 0.5rem 0 0.5rem 0; }
.statusMenu image {
    -gtk-icon-size: 0.9rem;
    -gtk-icon-shadow: 0 0 12px @light3;
    color: @light3;
}
.timeBtn { margin-bottom: 0.2rem; padding: 0.4rem 0; }

/* Time/date module */
.time .date, .time .day {
    font-size: 0.7rem;
    font-family: 'Liberation Mono';
    font-style: italic;
    color: @blue2;
    text-shadow: 0 0 3px @blue3;
}
.time .date { font-size: 0.6rem; }
.time .time {
    font-size: 1.45rem;
    font-family: 'WenQuanYi Zen Hei Mono';
    font-weight: bold;
    letter-spacing: 2px;
    color: @blue2;
    text-shadow: 0 0 5px @blue3;
}


/* Workspace list */
.workspaceList { 
    padding-top: 0.3rem; 
    min-height: 17rem; /* Combined height of workspace buttons */
}
#bar .workspaceBtn {
    background-color: @dark2;
    min-height: 1.1rem;
    border-radius: 5px;
    transition: 0.2s;
    margin: 0.25rem 0.45rem;
}
#bar .workspaceBtn.active {
    background-color: @blue2;
    box-shadow: 0 0 5px @blue3;
    min-height: 1.6rem;
}
#bar .workspaceBtn.occupied { background-color: @dark4; min-height: 1.4rem; }

/* Status menu misc */
.btConnected { color: @blue3; -gtk-icon-shadow: 0 0 2px @blue3; }

/* Recording indicator */
.recIndicator { color: #bf616a; }
.recIndicator image { -gtk-icon-size: 0.7rem; padding-right: 3px; }
.recIndicator label { font-size: 0.9rem; margin-top: -1px; }

/* Media players */
#bar .media, #bar .mpris {
    margin: 3px;
    outline-offset: -2px;
    outline: 2px solid #ffffff1c;
    border-radius: 5px;
}

#bar .media { transition-duration: 0.1s; }

#bar .mediaBg {
    margin: 7px;
    filter: blur(5px);
    transition-duration: 0.5s;
}
#bar .mediaBg.playing { margin: 6px; }
#bar .media:hover { outline-offset: -3px; }
#bar .media:active { outline-offset: -4px; }