#bar {
    background: @theme_bg_color;
    font-family: 'Hammersmith One';
}

#bar button {
    border-radius: 0;
    padding: 0.2rem 0.5rem;
}

/* Time bar widget */
.time .date, .time .day {
    font-size: 0.7rem;
    font-family: 'Liberation Mono';
    font-style: italic;
    color: @blue2; 
}
.time .day { letter-spacing: 1px; }
.time .time {
    font-size: 1.55rem;
    font-family: 'WenQuanYi Zen Hei Mono';
    font-weight: bold;
    letter-spacing: 4px;
    color: @blue2;
}


/* Workspace list */
.workspaceList { padding-top: 0.3rem; }
#bar .workspaceBtn {
    background-color: @darkest2;
    border-radius: 50%;
    transition: 0.2s;
    margin: 0.25rem;
}
#bar .workspaceBtn.active { background-color: @blue2; }
#bar .workspaceBtn.occupied { background-color: @darkest4; }

/* Status menu */
.btConnected { color: @blue3; }

/* Recording indicator */
.recIndicator { color: #bf616a; }
.recIndicator icon { padding-right: 3px; }
.recIndicator label { margin-top: 0px; }

/* Media players */
#bar .media, #bar .mpris {
    background-size: cover;
    margin: 3px;
    border: 2px solid @darkest3;
    border-radius: 5px;
}

.statusMenu { padding: 0.5rem 0 0.5rem 0; }