#powermenu box {
    background-color: @theme_bg_color;
    border-radius: 1rem;
    padding: 1rem;
}

#powermenu image {
    -gtk-icon-size: 4rem;
    -gtk-icon-shadow: 0 0 1rem @light1;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: @white3;
}

#powermenu .sleep, #powermenu .reboot { 
    background-color: @blue2;
    box-shadow: 0 0 7px @blue2;
}
#powermenu .shutdown {
    background-color: @blue3;
    box-shadow: 0 0 12px @blue3;
}
