.quickSettings {
    min-width: 10rem;
    padding: 0.8rem;
}

.quickSettings .active {
    background-color: @blue2;
    border: 1px solid @blue3;
    box-shadow: 0 0 10px @blue3;
}

/* Sink selector */
popover { min-width: 20rem; }