/* Graphite Nord theme colors:
  https://github.com/vinceliuice/Graphite-gtk-theme/blob/main/src/sass/gtk/_colors-public.scss
*/

window { /* For rounded corners */
    background: transparent;
    border: 0;
}

window.bar {
    background: @theme_bg_color;
    font-family: 'Hammersmith One';
}

window.bar button {
    border-radius: 0;
    padding: 0.2rem 0.5rem;
}


/* Time bar widget */
.time .date {
    font-size: 0.7rem;
    font-family: 'Liberation Mono';
    color: #81A1C1; /* Nord Green frost color */ 
}

.time .time {
    font-size: 1.5rem;
    font-family: 'WenQuanYi Zen Hei Mono'; /* Monospaced font */
    font-weight: bold;
    color: #5E81AC; /* Nord frost color */
}


/* Workspace list */
.workspaceBtn { /* Empty workspace */
    color: black;
}

.workspaceBtn.active {
    color: blue;
}

.workspaceBtn.occupied {
    color: red;
}

/* Status menu */
.btConnected {
    color: blue;
}


/* Notification popups */

.notification {
    background-color: @theme_bg_color;
    margin: 0.4rem;
    border-radius: 4px; /* 7px */
    padding: 0;
    min-width: 15rem;
}

.notification .header {
    background-color: #3b4252;
    padding: 0.5rem;
    margin: 0;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid #5e81ac;
}

.notification .content {
    margin-top: 0;
    padding: 0.7rem;
}

.notification .summary { font-weight: bold; }
.notification .actions { padding-top: 0.7rem; }
.notification .app-icon { padding-right: 0.2rem; }

/* Calendar */
calendar {
    border-radius: 5px;
}


/* App launcher */
.launcher { 
    background-color: @theme_bg_color;
    border-radius: 7px;
    margin: 1rem;
    padding: 0.8rem;
}

.launcher entry { /* Search bar */
    margin-bottom: 0.5rem;
}

.launcher button {
    padding: .5rem;
}

.launcher button icon {
    font-size: 3em;
    margin-right: .3rem;
}

.launcher button label.name {
    color: #d8dee9;
    font-weight: bold;
}

.launcher button label.description {
    color: #d8dee9;
}
