.osd { 
    background-color: @theme_bg_color; 
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 2rem;
}
.osd image {
    margin-right: 0.5rem;
    -gtk-icon-size: 1.5rem;
    -gtk-icon-shadow: 0 0 15px @light3;
}
.osd levelbar trough {
    background-color: @blue2;
    box-shadow: 0 0 10px @blue3;
    border-radius: 0.2rem;
}
.osd levelbar block {
    border-radius: 0.2rem;
    margin: 0.2rem;
}
.osd levelbar trough block.filled { background-color: @blue2; box-shadow: 0 0 10px @blue3; }
.osd levelbar trough block.empty { background-color: @light3; }
