.launcher {
    background-color: @theme_bg_color;
    border-radius: 0.4rem;
    margin: 1rem;
    padding: 0.8rem;
    line-height: 1.2rem;
}

.searchBg { /* Search bar */
    padding: 3rem;
    background-position: center;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    filter: blur(3px);
    min-height: 2rem;
}

.launcher entry:focus ~ .searchBg {
    background: black;
    border: 5px solid black;
}

.launcher entry {
    background: transparent;
    color: white;
    outline: none;
    margin-left: 2rem;
}

.launcher button {
    padding: 0.5rem;
    border: 1px solid @darkest4;
}

.launcher button:focus {
    background-color: @blue2;
    border: 1px solid @blue1;
    transform: translateY(-2px) scale(1.01);
}

.launcher button image {
    -gtk-icon-size: 2rem;
    margin-right: 0.5rem;
}

.launcher button label.name {
    color: @lightest3;
    font-weight: bold;
}

.launcher button label.description {
    color: @lightest3;
}
