.launcher {
    background-color: @theme_bg_color;
    border-radius: 0.4rem;
    margin: 1rem;
    padding: 0.8rem;
}

.searchHeader { /* Search bar */
    padding: 3rem;
    background-position: center;
    margin-bottom: 0.5rem;
    border-radius: 0.4rem;
    border: 2px solid @darkest4;
}

.launcher entry {
    background: transparent;
    color: white;
    outline: none;
}
.launcher button {
    padding: 0.5rem;
}

.launcher button image {
    -gtk-icon-size: 2rem;
    margin-right: 0.3rem;
}

.launcher button label.name {
    color: @lightest3;
    font-weight: bold;
}

.launcher button label.description {
    color: @lightest3;
}
