.launcher {
    background-color: @theme_bg_color;
    border-radius: 0.4rem;
    margin: 1rem;
    padding: 0.8rem;
}

.searchHeader { /* Search bar */
    padding: 3rem;
    background-image: url('../../../wallpapers/Nord-Generic.png');
    background-size: cover;
    margin-bottom: 0.5rem;
    border-radius: 0.4rem;
}

.launcher entry {
    box-shadow: none;
    background: transparent;
    color: white;
}
.launcher button {
    padding: .5rem;
}

.launcher button icon {
    font-size: 3em;
    margin-right: .3rem;
}

.launcher button label.name {
    color: #d8dee9;
    font-weight: bold;
}

.launcher button label.description {
    color: #d8dee9;
}
